@media screen and (max-width: 600px ){
  header {
    flex-direction: column;
    align-items: center; /* Centraliza os itens horizontalmente */
  }
  
  main {
    flex-direction: column;
  }
  
  h2 {
    font-size: 15px;
  }
  
  footer.rodape {
    position: static;
  }
  
  ul {
    text-align: center;
  }
  
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
  }
  .video-player {
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
    width: 100%; /* Adicione esta linha para ocupar 100% da largura disponível */
    height: auto; /* Adicione esta linha para manter a proporção do vídeo */
  }
  
} 

@media screen and (max-width: 768px ){
  header {
    flex-direction: column;
    align-items: center; /* Centraliza os itens horizontalmente */
  }
          main {
            flex-direction: column;

          }
          h2 {
            font-size: 38px ;
          }
          
          footer.rodape {
            position: static;
          }
          ul{
            text-align: center;
          }
          .photo-grid {
            grid-template-columns: repeat(1, 1fr);
          max-width: 100%;
          }
          .photo-grid img {
            width: auto; /* Define a largura para auto ao diminuir a responsividade */
            /*object-fit: cover; /* Mantém a proporção da imagem */
          }
        
} 


@media screen and (max-width: 1200px ){
  header {
    flex-direction: column;
    align-items: center; /* Centraliza os itens horizontalmente */
  }
          main {
            flex-direction: column;
          }
          h2 {
            font-size: 38px ;
          }
          
          footer.rodape {
            position: static;
          }
          ul{
            text-align: center;
          }
          .photo-grid {
            grid-template-columns: repeat(2, 1fr);
          max-width: 100%;
          }
          .photo-grid img {
            object-fit: cover; /* Mantém a proporção da imagem */
            display: block; /* Define a imagem como um bloco */
            margin-left: auto; /* Centraliza horizontalmente */
            margin-right: auto; /* Centraliza horizontalmente */
          }
}