@media screen and (max-width: 480px ){
  header {
      flex-direction: column ;
        }
        main {
          flex-direction: column;
        }
        h2 {
          font-size: 38px ;
        }
        
        footer.rodape {
          position: static;
        }
        ul{
          text-align: center;
        }
        .photo-grid {
          grid-template-columns: repeat(1, 1fr);
        max-width: 100%;
        }
      
} 

@media screen and (max-width: 760px ){
    header {
        flex-direction: column ;
          }
          main {
            flex-direction: column;

          }
          h2 {
            font-size: 38px ;
          }
          
          footer.rodape {
            position: static;
          }
          ul{
            text-align: center;
          }
          .photo-grid {
            grid-template-columns: repeat(2, 1fr);
          max-width: 100%;
          }
          .photo-grid img {
            width: auto; /* Define a largura para auto ao diminuir a responsividade */
            object-fit: cover; /* Mantém a proporção da imagem */
          }
        
} 


@media screen and (max-width: 1260px ){
    header {
        flex-direction: column ;
          }
          main {
            flex-direction: column;

          }
          h2 {
            font-size: 38px ;
          }
          
          footer.rodape {
            position: static;
          }
          ul{
            text-align: center;
          }
          .photo-grid {
            grid-template-columns: repeat(3, 1fr);
          max-width: 100%;
          }
          .photo-grid img {
            width: auto; /* Define a largura para auto ao diminuir a responsividade */
            object-fit: cover; /* Mantém a proporção da imagem */
          }
}